<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>채움</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    {% load static %}
    <link href="{%static '/css/sb-admin-2.min.css'%}" rel="stylesheet">

</head>

{% for message in messages %}
<script>
    alert("{{message}}")
</script>
{% endfor %}

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3" style="font-size:30px">채움 </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="">
                    <span>나만의 추천 인테리어</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                즐겨찾기한 지역
            </div>
            {% for address in star_address%}
            <!-- 즐겨찾기한 지역 동적으로 프로그래밍 해야함 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <span>{{address}}</span>
                </a>
            </li>
            {%endfor%}

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                기간별
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <span></span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                            {%if login == False%}
                            <li class="btn btn-primary" >
                            <a class="btn btn-primary"  href="login" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <!-- Counter - Alerts -->
                                <span class="sidebar-brand-text mx-3">로그인</span>
                            </a>
                            {%else%}
                                <span class="sidebar-brand-text mx-3">{{name}}님 반갑습니다</span>
                                <a href="logout" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                    class="fas fa-download fa-sm text-white-50"></i>로그아웃</a>
                            {%endif%}
                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">나만의 추천 인테리어</h1>
                        <a href="go_to_create" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i>공사의뢰하기</a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">
                        {%for inte in interior%}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{inte.address}}</div>
                                            <br>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">지원작업
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.job}}</span>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">공사 시작일
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.start_date}}</span>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">공사 종료일
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.end_date}}</span>
                                            </div>
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">기간 협의가능</div>
                                            <form method ="POST" action = "admit">
                                                {% csrf_token %}
                                                {%if inte.matching == False%}
                                                {%if inte.id not in user_inte%}
                                            <div>
                                                <a href="admit?user_id={{id}}&&inte_id={{inte.id}}"class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">신청하기</a>
                                                </div>
                                                {%else%}
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: red; font-size: larger;">신청완료</div>
                                                {%endif%}
                                                {%else%}
                                                <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: red; font-size: larger;">마감</div>
                                                {%endif%}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}


                    </div>
                                        <!-- Page Heading -->
                                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                            <h1 class="h3 mb-0 text-gray-800">공사 신청현황</h1>
                                        </div>
                    
                                        <div class="row">
                                            {%for inte in go_interior%}
                                            <!-- Earnings (Monthly) Card Example -->
                                            <div class="col-xl-3 col-md-6 mb-4">
                                                <div class="card border-left-primary shadow h-100 py-2">
                                                    <div class="card-body">
                                                        <div class="row no-gutters align-items-center">
                                                            <div class="col mr-2">
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{inte.address}}</div>
                                                                <br>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">필요직군
                                                                    <span class="m-0 font-weight-bold text-primary">
                                                                        {{inte.job}}</span>
                                                                </div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">공사 시작일
                                                                    <span class="m-0 font-weight-bold text-primary">
                                                                        {{inte.start_date}}</span>
                                                                </div>
                                                                <div class="h5 mb-0 font-weight-bold text-gray-800">공사 종료일
                                                                    <span class="m-0 font-weight-bold text-primary">
                                                                        {{inte.end_date}}</span>
                                                                </div>
                                                            </div>
                    
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {%endfor%}
                                        </div>


                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">공사 의뢰현황</h1>
                    </div>

                    <div class="row">
                        {%for inte in my_interior%}
                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{inte.address}}</div>
                                            <br>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">공사 시작일
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.start_date}}</span>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">공사 종료일
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.end_date}}</span>
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">지원자 계정
                                                <span class="m-0 font-weight-bold text-primary">
                                                    {{inte.user_id}}</span>
                                            </div>
                                            {%if inte.matching == False%}
                                            <div>
                                                <a href="show_profile?user_id={{inte.user_id}}&&inte_id={{inte.id}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">프로필 보기</a>
                                                </div>
                                            {%else%}
                                            <div class="text-xs font-weight-bold text-uppercase mb-1" style="color: red; font-size: larger;">확정</div>
                                            {%endif%}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}



</body>

</html>